<div class="flex flex-col items-center text-center text-xl gap-10">
  <h1 class="">
    This web-app create by Rawezh with love as Task for an application of a
    software engineer position.
  </h1>
  <div class="flex flex-col items-center">
    <h1 class="font-medium">Technologies has been used:</h1>
    <img src="../../../assets/Techs.png" alt="" class="w-1/2" />
  </div>
  If you have some suggestion to improve the code quality or to write the code
  sipmpler, please create a pull request :)
</div>
