<nav class="w-full">
  <ul
    class="flex flex-row gap-20 bg-blue-600 text-white px-96 py-5 w-full text-xl rounded-lg"
  >
    <li
      class="hover:text-black cursor-pointer transition-all delay-150 ease-in font-light"
      routerLink=""
    >
      Home
    </li>
    <li
      class="hover:text-black cursor-pointer transition-all delay-150 ease-in font-light"
      routerLink="game"
    >
      Game
    </li>
    <li
      class="hover:text-black cursor-pointer transition-all delay-150 ease-in font-light"
      routerLink="played_games"
    >
      Played Games
    </li>
    <li
      class="hover:text-black cursor-pointer transition-all delay-150 ease-in font-light"
      routerLink="about"
    >
      About
    </li>
  </ul>
</nav>
